---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: acceptance
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: acceptance
  labels:
    app: postgres
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9187"
        prometheus.io/path: "/metrics"
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres-exporter
          image: prometheuscommunity/postgres-exporter:latest
          ports:
            - containerPort: 9187
          env:
            - name: DATA_SOURCE_NAME
              value: "postgresql://fastapi:fastapi@postgres:5432/fastapidb?sslmode=disable"

        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: db-secret
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$POSTGRES_USER"
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: acceptance
  namespace: acceptance
  labels:
    app: acceptance
spec:
  ports:
    - port: 8000
      targetPort: 8000
  selector:
    app: acceptance
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: acceptance
  namespace: acceptance
  labels:
    app: acceptance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: acceptance
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
      labels:
        app: acceptance
    spec:
      imagePullSecrets:
        - name: nexus-docker-login
      initContainers:
        - name: wait-for-postgres
          image: postgres:15
          command: [ 'sh', '-c', 'until pg_isready -h postgres -U "$POSTGRES_USER"; do echo "Waiting.."; sleep 2; done' ]
          envFrom:
            - secretRef:
                name: db-secret
      containers:
        - name: app-stack
          image: rodybothe2/appstack:latest
          #          image: 10.0.0.246:8082/repository/docker-hosted/app-fastapi:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: postgres
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret-url
                  key: DATABASE_URL

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: acceptance
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      name: web
  type: LoadBalancer
